.bg {
  &-black {
    background-color: $color-black;
  }

  &-white {
    background-color: $color-white;
  }

  &-gray {
    background-color: $color-gray;
  }
}

.text {
  &-black {
    color: $color-black;
  }

  &-white {
    color: $color-white;
  }

  &-gray {
    color: $color-gray;
  }
}
